@font-face {
    font-family: inter;
    src: url(../src/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    outline: none;
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: inter;
}
body {
    background: rgba(9, 74, 203, 0.384);
}
div.heade{
    background-color: blue;
}